.DS_Store
worker/.DS_Store
.vscode/
.wranger/
.DS_Store
*.csv
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.env
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.swp
*.swo
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
.DS_Store
worker/.DS_Store
worker/
clients_store.json

# Ignore large generated clients array used by widget
Widget Generator Tool/public/clients_array.js
