beautifulsoup4==4.14.0
Flask==3.1.2
google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
httpx==0.28.1
notion-client==2.4.0
python-dotenv==1.1.1
requests==2.32.5
